.App {
    text-align: center;
    padding: 2rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  .seat-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    width: 1500px;
    height: 500px;
    
  }
  
  .row1 {
    display: flex;
    flex-direction: column;
    width: 5%;
    justify-content: center;
    align-items: center;
  }
  .col {
    display: flex;
    justify-content: center;
  }
  
  .seat {
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
    background-color: #ffff;
    
    cursor: pointer;
  }
  
  .available {
    background-color: #c3c3c3;
  }
  
  .selected {
    background-color: #007bff;
    color: #fff;
  }
  
  .booked {
    background-color: #ff0000;
    cursor: not-allowed;
  }
  
  .controls {
    margin-top: 1rem;
  }
  
  .message {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #007bff;
  }
  .available1 {
    display: inline;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #ff0000;
    border: 1px solid #777;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
  }
  .unavailable1 {
    display: inline;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #c3c3c3;
    border: 1px solid #777;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
  }
  .My-seats {
    display: inline;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #007bff;
    border: 1px solid #777;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
  }
  
  .key-layout {
    font-weight: bold;
  }
  
  .order {
    display: inline;
    width: 40px;
    height: 40px;
  
    background-color: #fff;
  
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
  }
  
  .seat-map {
    width: 600px;
    height: 200px;
     
    margin-left: 100px;
    display: grid;
  
    grid-template-columns: repeat(10, 1fr);
  }
  .seat-map1 {
    width: 600px;
    height: 200px;
  
    
  
    display: grid;
  
    grid-template-columns: repeat(10, 1fr);
  }
  .seat-map2 {
    width: 600px;
    height: 200px;
  
    
    margin-left: 100px;
    display: grid;
  
    grid-template-columns: repeat(10, 1fr);
  }
  .seat-map3 {
    width: 600px;
    height: 200px;
  
   
    display: grid;
  
    grid-template-columns: repeat(10, 1fr);
  }
  .seat-map4{
    width: 600px;
    margin-left: 100px;
    display: grid;
  
    grid-template-columns: repeat(10, 1fr);
  }
  .seat-map5{
    width: 600px;
    
    display: grid;
  
    grid-template-columns: repeat(10, 1fr);
  }
  .Select-seat{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .naming{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-weight: bold;
   
  }
  .naming1{
    margin-left: 20px;
  }